---

import NewPostButton from './partials/NewPostButton.astro'
import Layout from './layouts/Layout.astro'
import PostList from './partials/PostList.astro'
import GoogleAuthButton from './partials/GoogleAuthButton.astro'
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)


---
<Layout title="posts">
    <GoogleAuthButton />
    
    <PostList />

    {session ? 
    <div id="corner-container" hx-swap="innerHTML" hx-swap-oob="true">
        <NewPostButton>
    </div>
    : null}

</Layout>

<style>
    #corner-container {
        position: sticky;
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
        bottom: 20px;
        left: 20px;
        
    }
</style>