---
const { post } = Astro.props
export const partial = true
console.log('updating likes', post)
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request)

let likeCount = post?.likes?.length || 0

let liked = post?.likes?.includes(session?.user.name) || false 


---


<div   hx-post={"/api/posts/like/" + post._id}  id={"like-" + post._id}    hx-swap="outerHTML">
<button 

    
    style="width: 2cqw; height:2cqw" 
    class={`like-button ${liked ? 'liked' : ''}`}

    
    >
    
    { likeCount }
    
</button>


<style>

.like-button {
    background-color: transparent;
    background-image: url(/heart.svg);
    background-position: center;
    background-size: 2cqw;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    font-family: "Inter", sans-serif;
    color: var(--secondary-text);
}

.liked {
    background-image: url(/hearted.svg);
}



</style>