---

export const partial = true

---



    <button 
        id="new-post-button"
        class=""
        hx-get="/partials/NewPostForm" 
        hx-swap="innerHTML transition:true" 
        hx-target="#corner-container"
        hx-trigger="click, keyup[altKey&&key=='n'] from:body"
        >new
    </button>



<style>


#new-post-button {
    background-color: var(--primary);
    color: var(--secondary-text);
    border: none;
    padding: 1em;
    border-radius: 50%;
    font-family: var(--title-font);
    font-size: 1.5em;
    cursor: pointer;
    transition: filter 0.3s;
}

</style>