---


import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)

let post: {content: string} = {
    content: ""
}; 

---
    <form 
        id="new-post-form" 
        hx-post="/api/posts/new" 
        hx-swap="outerHTML swap:1s"
        hx-transition="true"
        style = "width: 100%;"
        
        >
        <fieldset>
            <textarea
                id="content"
                name="content"
                placeholder="What's on your mind?"
                value={post.content}
                rows="3"
                autofocus
                required
                class=""
                />
            </textarea>
            <div style="display: flex; width: 100%; justify-content: space-between">
            <button hx-get="/partials/NewPostButton" hx-target="#corner-container" hx-swap="innerHTML transition:true" >
                nevermind
            </button>
            <label for="content" hidden>Content</label>
           
            <button 
            class=""
            type="submit"
            hx-disabled-elt="this"
            >post
            
            </button>
            </div>
        </fieldset>
        
    </form>
    


<style>
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: var(--primary);
        border-radius: 5px;
    }

    fieldset {
        display: flex;
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }

    textarea {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        resize: vertical;
    }

    button {
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: #f0f0f0;
        cursor: pointer;
    }
</style>
