---
import dayjs from 'dayjs'

export const partial = true

const { post } = Astro.props

---

<div class="p-6 max-w-sm mx-auto my-5 bg-white rounded-md mt-lg shadow-lg flex items-center space-x-4">
    <img class="h-12 w-12 rounded-xl" src="https://placekitten.com/g/100/100" alt="" />
    <div>
        <div class="flex space-x-3">
            <span class="text-gray-500 font-thin text-xs">{dayjs(post.createdAt).format('M/D/YY h:mm a')}</span>
        </div>
        <h3 class="text-lg font-semibold text-black">{post.title}</h3>
        <p class="text-gray-500">{post.content}</p>
    </div>

</div>