---
import { createPost } from "../../../lib/posts";
import PostList from "../../partials/PostList.astro";
import NewPostButton from "../../partials/NewPostButton.astro";
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request)

let post = {};

if (session && Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const content = formData.get("content");
    const username = session.user.name;
    post = await createPost({content, username});
    console.log(post);
}

export const partial = true;

---
{ session ? 
  <PostList />
  <NewPostButton />
  :

  <div><h1>Log in to create a post</h1></div>
}


